@font-face {
    font-family: 'moderat_ss02_regularregular';
    src: url('moderat_stylistic_set_02_regular-webfont.woff2') format('woff2'), url('moderat_stylistic_set_02_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    font-family: roboto;
    padding: 1% 2% 2% 3%;
    width: 100%;
    height: 100%;
}

h2 {
    margin-bottom: 5%;
    text-transform: uppercase;
}

.super {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.super:hover {
    transform: translateY(-50%);
    background-color: #696969;
}

.header {
    font-family: Abril Fatface;
    padding: 0% 5% 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #333333;
}

.header>span {
    font-size: 72px;
    line-height: 73px;
    margin: 0% 2% 0% 2%;
}

.cadastre {
    padding: 1% 4% 1% 10%;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-color: #4d4d4d;
    background-color: #fafafa;
    align-items: left;
}

.super>#btn1 {
    font-family: Moderat_ss02 Regular;
    padding: 8px 30px 8px 30px;
    border: none;
    border-radius: 5%;
    color: #fafafa;
    background-image: linear-gradient(+90deg, #7bb7fc, #9287fd);
}

#btn2 {
    font-family: Moderat_ss02 Regular;
    padding: 8px 30px 8px 30px;
    border: none;
    border-radius: 5%;
    color: #fafafa;
    background-image: linear-gradient(+90deg, #7bb7fc, #9287fd);
}

.call-to-action {
    font-family: Moderat_ss02 Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #333333;
    margin: 0% 0% 3% 10%;
}

.call-to-action>span {
    margin-bottom: 2%;
}

#cadastre {}

#evento {}


/*----Style do popup------*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}


/*botão vermelho com X no meio */

.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #652222;
    cursor: pointer
}


/*Contador*/

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

#contador {
    color: #fff;
    text-align: center;
}