.principal {
    position: relative;
    text-align: center;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    background: #333333 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

.h1 {
    text-decoration: underline;
    border-bottom: 10px solid black;
}


/* cor do sublinhado = #9b7fef */